## Lists

        List is representing using [].
        Lists can store any no.of different data types together.
        List can be classified as single-dimensional and multi-dimensional.
        List is a mutable object, which means elements in list can be changed.
        It can store asymmetric data types

In [1]:
emp_list = []

print(f"{type(emp_list)} {emp_list = }")
print(f"{len(emp_list) =}")

<class 'list'> emp_list = []
len(emp_list) =0

In [2]:
# homogenous( storing same date sets )

nums = [1,2,2,3,5,6,-9,8]
print(f"\n{type(nums)} {nums =}")
print(f"{len(nums) =}")

<class 'list'> nums =[1, 2, 2, 3, 5, 6, -9, 8]
len(nums) =8

In [3]:
# non-homogenous
nums = [12, 3.2, 5+3j, "tom"]
print(f"\n{type(nums)} {nums =}")
print(f"{len(nums) =}")

<class 'list'> nums =[12, 3.2, (5+3j), 'tom']
len(nums) =4

In [6]:
mdl = [1,2,3.3,4,5,[6,7,8,(9,10)]]

print(f"\n{type(mdl)} {mdl =}")
print(f"{len(mdl) =}")

<class 'list'> mdl =[1, 2, 3.3, 4, 5, [6, 7, 8, (9, 10)]]
len(mdl) =6

In [7]:
print(f"{type(mdl[2])} {mdl[2] =}")
print(f"{type(mdl[5])} {mdl[5] =}")

<class 'float'> mdl[2] =3.3
<class 'list'> mdl[5] =[6, 7, 8, (9, 10)]

In [8]:
mdl[5]

[6, 7, 8, (9, 10)]

In [9]:
mdl[5][3]

(9, 10)

In [10]:
type(mdl[5][3])

tuple

In [11]:
mdl[5][3][0]
# if you are using positive indexes use all possitves and viceversa

9

In [12]:
type(mdl[5][3][0])

int

In [13]:
print(mdl[-5] == mdl[1])

True

In [14]:
assert(mdl[-5] == mdl[1])

In [15]:
# Slicing - last value in boundary will not be included
print("\nmdl[1:4]      ", mdl[1:4])
print("mdl[1:4:2]    ", mdl[1:4:2])

mdl[1:4]       [2, 3.3, 4]
mdl[1:4:2]     [2, 4]

### mutability
    Mutable objects: List, set, dict
    immutable objects: int, float, str, bool, None, tuple, frozenset, iterator

In [16]:
num1 = 1234
print(f"{num1 =} {type(num1)} {id(num1)=}")

num1 =1234 <class 'int'> id(num1)=140549791169136

In [17]:
num1 = 2553
print(f"{num1 =} {type(num1)} {id(num1)=}")

num1 =2553 <class 'int'> id(num1)=140549791169296

In [18]:
name = "tom brady"
print(f"name         :{name}")
print(f"name[0:3]    :{name[0:3]}")

name         :tom brady
name[0:3]    :tom

In [19]:
name[0:3] = "nick"

TypeError: 'str' object does not support item assignment

In [21]:
print(f'{id(name) = }')
name = "nick brady"      
print(f'{id(name) = }')

id(name) = 140549788247344
id(name) = 140549788252272

In [22]:
name

'nick brady'

In [23]:
mdl = [1,2,3.3,4,5,[6,7,8,(9,10)]]

print("List is a mutable object =======")
print("mdl           ", mdl)
print("type(mdl)     ", type(mdl))
print("id(mdl)       ", id(mdl))

List is a mutable object =======
mdl            [1, 2, 3.3, 4, 5, [6, 7, 8, (9, 10)]]
type(mdl)      <class 'list'>
id(mdl)        140549788284480

In [24]:
mdl[3]

4

In [25]:
mdl[3] =4.32

In [28]:
print(mdl)
print("type(mdl)     ", type(mdl))
print("id(mdl)       ", id(mdl))

[1, 2, 3.3, 4.32, 5, [6, 7, 8, (9, 10)]]
type(mdl)      <class 'list'>
id(mdl)        140549788284480

### List Attributes

In [29]:
nums = [43, 487, 9856]

print("type(nums)    =", type(nums))
print("dir(nums)     =", dir(nums))

type(nums)    = <class 'list'>
dir(nums)     = ['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [30]:
print("len(nums)            =", len(nums))
print("nums.__len__()       =", nums.__len__())
assert len(nums) == nums.__len__()

len(nums)            = 3
nums.__len__()       = 3

In [31]:
print("str(nums)=", str(nums))
print("type(str(nums))=", type(str(nums)))
print("nums.__str__()=", nums.__str__())
print("type(nums.__str__())=", type(nums.__str__()))
assert str(nums) == nums.__str__()

str(nums)= [43, 487, 9856]
type(str(nums))= <class 'str'>
nums.__str__()= [43, 487, 9856]
type(nums.__str__())= <class 'str'>

In [32]:
print("nums * 3=", nums * 3)
print("nums=", nums)
print("nums.__mul__(3)  =", nums.__mul__(3))
print("nums=", nums)
assert nums * 3 == nums.__mul__(3)

nums * 3= [43, 487, 9856, 43, 487, 9856, 43, 487, 9856]
nums= [43, 487, 9856]
nums.__mul__(3)  = [43, 487, 9856, 43, 487, 9856, 43, 487, 9856]
nums= [43, 487, 9856]

In [34]:
print("nums.__imul__(3) =", nums.__imul__(3))
print("nums=", nums)

nums.__imul__(3) = [43, 487, 9856, 43, 487, 9856, 43, 487, 9856]
nums= [43, 487, 9856, 43, 487, 9856, 43, 487, 9856]

In [41]:
print("id(nums)          =", id(nums))
nums = [43, 487, 9856]
print("id(nums)          =", id(nums))
nums = [43, 487, 9856]
print("id(nums)          =", id(nums))

id(nums)          = 140549788333824
id(nums)          = 140549790105408
id(nums)          = 140549788616192

In [37]:
# NOTE: overwriting will everytime change the address of the object, in datastcurure

# Assignment: try checking the overwriting address change in all data types

str_dt =['a','b','c','d','e']
print("id(str_dt)          =", id(str_dt))

str_dt =['a','b','c','d','e']
print("id(str_dt)          =", id(str_dt))

float_dt = [3.3,5.3,4.5,6.9,8.2,5.7]
print("id(float_dt)          =", id(float_dt))

float_dt = [3.3,5.3,4.5,6.9,8.2,5.7]
print("id(float_dt)          =", id(float_dt))

id(str_dt)          = 140549788629760
id(str_dt)          = 140549788326720
id(float_dt)          = 140549788225984
id(float_dt)          = 140549788119744

In [38]:
num = 45654
print("id(num)  =", id(num))
num = 7532
print("id(num)  =", id(num))

id(num)  = 140549788173200
id(num)  = 140549788173904

In [39]:
alphbets= ['e','t','r','y']

In [42]:
# list concatenation 
nums + alphbets

[43, 487, 9856, 'e', 't', 'r', 'y']

In [43]:
nums

[43, 487, 9856]

In [45]:
nums.__add__(alphbets)

[43, 487, 9856, 'e', 't', 'r', 'y']

In [46]:
nums.__iadd__(alphbets)

[43, 487, 9856, 'e', 't', 'r', 'y']

In [47]:
nums

[43, 487, 9856, 'e', 't', 'r', 'y']

In [50]:
print("nums.__contains__(3232) =", nums.__contains__(3232))
print("12 in nums            =", 12 in nums)

print("nums.__contains__('e') =", nums.__contains__("e"))
print("'e' in nums            =", "e" in nums)

nums.__contains__(3232) = False
12 in nums            = False
nums.__contains__('e') = True
'e' in nums            = True

In [51]:
nums.__sizeof__()

136

In [53]:
callable(nums.__sizeof__)

True

In [55]:
print(f"{nums.__sizeof__()  = }")  

import sys
print(f"{sys.getsizeof(nums)= }") # object+ c header

nums.__sizeof__()  = 136
sys.getsizeof(nums)= 152

In [56]:
nums.__doc__

'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'

In [57]:
print(nums.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [59]:
help(nums)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, index, /)
 |      Return self[index].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [60]:
mylist =[23,45,67,89]
dir(mylist)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [62]:
for attribute in dir(mylist):
    if  attribute.startswith('__'):
        print(attribute)

__add__
__class__
__class_getitem__
__contains__
__delattr__
__delitem__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__getitem__
__getstate__
__gt__
__hash__
__iadd__
__imul__
__init__
__init_subclass__
__iter__
__le__
__len__
__lt__
__mul__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__reversed__
__rmul__
__setattr__
__setitem__
__sizeof__
__str__
__subclasshook__

In [63]:
for attribute in dir(mylist):
    if  not attribute.startswith('__'):
        print(attribute, end = ", ")

append, clear, copy, count, extend, index, insert, pop, remove, reverse, sort,

In [64]:
mylist

[23, 45, 67, 89]

In [65]:
mylist.append(12)
mylist

[23, 45, 67, 89, 12]

In [66]:
mylist.append([66,443,678,])
mylist

[23, 45, 67, 89, 12, [66, 443, 678]]

In [67]:
mylist.extend(678)
mylist

TypeError: 'int' object is not iterable

In [68]:
mylist.extend([678,987,945])
mylist

[23, 45, 67, 89, 12, [66, 443, 678], 678, 987, 945]

In [69]:
mylist.extend([678,(1,2,3,4)])

In [70]:
mylist

[23, 45, 67, 89, 12, [66, 443, 678], 678, 987, 945, 678, (1, 2, 3, 4)]

In [72]:
mylist =[23,45,67,89]

In [73]:
mylist.insert(0, "a")
print("after mylist.insert(0, 'a'):\n\t", mylist)

after mylist.insert(0, 'a'):
	 ['a', 23, 45, 67, 89]

In [74]:
mylist.insert(4, ['e','y','t'])
print("after mylist.insert(0, 'a'):\n\t", mylist)

after mylist.insert(0, 'a'):
	 ['a', 23, 45, 67, ['e', 'y', 't'], 89]

In [75]:
print(f"{mylist.pop() =}")
print(f"{mylist       =}\n")

mylist.pop() =89
mylist       =['a', 23, 45, 67, ['e', 'y', 't']]

In [76]:
print(f"{mylist.pop() =}")
print(f"{mylist       =}\n")

mylist.pop() =['e', 'y', 't']
mylist       =['a', 23, 45, 67]

In [82]:
mylist= [2,4,5,6,'rat',[6,'x',4],3+6j,8.9,6,4,5,6,8,5,]
print(f"{mylist.remove(5) = }")  
print(f"{mylist       =}\n")

mylist.remove(5) =None
mylist       =[2, 4, 6, 'rat', [6, 'x', 4], (3+6j), 8.9, 6, 4, 5, 6, 8, 5]

In [92]:

# Assignment - how to remove the last occurence of a element in the list

mylist = [2, 4, 5, 6, 'rat', [6, 'x', 4], (3+6j), 8.9, 6, 4, 6, 5]
value_of_last_occurene = 6

mylist.reverse()
mylist.remove(value_of_last_occurene)
mylist.reverse()
print(mylist)

[2, 4, 5, 6, 'rat', [6, 'x', 4], (3+6j), 8.9, 6, 4, 5]

In [93]:
mylist = [2, 4, 5, 6, 'rat', [6, 'x', 4], (3+6j), 8.9, 6, 4, 6, 5]
del mylist[3]
print("After del mylist[3]   =", mylist)

After del mylist[3]   = [2, 4, 5, 'rat', [6, 'x', 4], (3+6j), 8.9, 6, 4, 6, 5]

In [94]:
del mylist

In [95]:
mylist

NameError: name 'mylist' is not defined