### Advantage of Functional Programming
    Code reusability
    To modularize the problem
    Better maintenance of the code
    Pure functions are easier to reason about
    Testing is easier, and pure functions lend themselves well to techniques like property-based testing
    Debugging is easier

In [1]:
def hi():
    print("hi everyone")

In [2]:
print(hi)

# NOTE: Functions are treated as first-class objects in Python.

<function hi at 0x78825cd151c0>

In [3]:
type (hi)

function

In [4]:
dir(hi)

['__annotations__',
 '__builtins__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__getstate__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__type_params__']

In [5]:
print(hi.__str__())
print(str(hi))
print(hi.__repr__())
print(repr(hi))

<function hi at 0x78825cd151c0>
<function hi at 0x78825cd151c0>
<function hi at 0x78825cd151c0>
<function hi at 0x78825cd151c0>

In [7]:
hi.__qualname__

'hi'

In [8]:
hi.__sizeof__()

144

In [9]:
hi.__hash__()

8281331143964

In [10]:
hi.__code__

In [11]:
callable(hi)

True

In [12]:
hi.__call__()

hi everyone

In [13]:
hi()

hi everyone

In [14]:
num = 234
callable(num)

False

In [15]:
def hello(name):
    return f"Hello {name}"

In [17]:
hello()

TypeError: hello() missing 1 required positional argument: 'name'

In [18]:
hello("steve")

'Hello steve'

In [19]:
hello ("steve","pat")

TypeError: hello() takes 1 positional argument but 2 were given

In [24]:
def details(name , age ):
    return f"Myself {name} and I'm {age} years old"

In [25]:
details()

TypeError: details() missing 2 required positional arguments: 'name' and 'age'

In [26]:
details("tom")

TypeError: details() missing 1 required positional argument: 'age'

In [27]:
details ("tom", 45)

"Myself tom and I'm 45 years old"

In [28]:
# NOTE: Ensure to pass the exact number of arguments in function call, as in function definition.

In [29]:
def some_func():
    pass
   
result = some_func()
print("result =", result, type(result))

result = None <class 'NoneType'>

In [30]:
def some_func():
    return None
   
result = some_func()
print("result =", result, type(result))

result = None <class 'NoneType'>

In [31]:
def some_func():
    return 56
   
result = some_func()
print("result =", result, type(result))

result = 56 <class 'int'>

In [32]:
def some_func():
    return 12.36
   
result = some_func()
print("result =", result, type(result))

result = 12.36 <class 'float'>

In [33]:
def some_func():
    return {12: 67}
   
result = some_func()
print("result =", result, type(result))

result = {12: 67} <class 'dict'>

In [34]:
def some_func():
    return 12,
   
result = some_func()
print("result =", result, type(result))

result = (12,) <class 'tuple'>

In [35]:
def some_func():
    return [12, 23]
   
result = some_func()
print("result =", result, type(result))

result = [12, 23] <class 'list'>

In [36]:
def some_func():
    return 23,45,67
   
result = some_func()
print("result =", result, type(result))

result = (23, 45, 67) <class 'tuple'>

In [37]:
def some_func():
    return {6,7,8,6,7,8,9,6,6}
   
result = some_func()
print("result =", result, type(result))

result = {8, 9, 6, 7} <class 'set'>

### Function Overwriting

In [38]:
num1 = 45
num1 = 18
print (num1)

18

In [40]:
# Two functions with same name, but different number of arguments in definition
def myfunc(var1, var2, var3):
    return var1 + var2 + var3

def myfunc(num1, num2):
    return num1 + num2

print(myfunc(8, 3))
print(myfunc(8, 3, 7))

11

TypeError: myfunc() takes 2 positional arguments but 3 were given

In [42]:
# Two functions with same name, but different number of arguments in definition

def myfunc(num1, num2):
    return num1 + num2

def myfunc(var1, var2, var3):
    return var1 + var2 + var3

print(myfunc(8, 3, 7))
print(myfunc(8, 3))

18

TypeError: myfunc() missing 1 required positional argument: 'var3'

In [43]:
def greet(name , text= "birthday"):
    return f"Hi, {name} Happy {text}"

In [44]:
greet.__defaults__

('birthday',)

In [45]:
greet('tom')

'Hi, tom Happy birthday'

In [46]:
greet("pat", "aniversary")

'Hi, pat Happy aniversary'

In [47]:
def greet(text= "birthday",name ):
    return f"Hi, {name} Happy {text}"
# default arguments will ne declared at last or we can make everything defaults

SyntaxError: parameter without a default follows parameter with a default (909569127.py, line 1)

In [49]:
# function overwriting problem 
def myfunc1(var1, var2, var3 = 0):
    return var1 + var2 + var3

print(myfunc1(8, 3, 7))
print(myfunc1(8, 3))

18
11

### problem with mutable default arguments

In [54]:
def ext_list(val, mylist = []):
    print(id(mylist))
    mylist.append(val)
    return mylist

In [51]:
ext_list.__defaults__

([],)

In [55]:
l1 = ext_list(10)
l1

132500814611008

[10]

In [56]:
l2 = ext_list(123,[])
l2

132500811833664

[123]

In [57]:
l3= ext_list(23)
l3

132500814611008

[10, 23]

### variadic functions

In [58]:
print()

In [59]:
print(90)

90

In [60]:
print(122,36,616,2,63,[5,6,4,6])

122 36 616 2 63 [5, 6, 4, 6]

In [61]:
print(hi.__defaults__)

None

In [62]:
print(hi.__kwdefaults__)

None

In [67]:
def var_func(*val):
    print("\ntype(val)  ", type(val))
    print("val " + str(val))
    print()

In [68]:
var_func()

type(val)   <class 'tuple'>
val ()

In [69]:
var_func(45)

type(val)   <class 'tuple'>
val (45,)

In [70]:
var_func(56,5454,6545654)

type(val)   <class 'tuple'>
val (56, 5454, 6545654)

In [75]:
def var_func1(*val, **val2):
    print("\ntype(val)  ", type(val))
    print("type(val2) ", type(val2))

    print("val   " + str(val))
    print("val2 " + str(val2))
    print()

In [76]:
var_func1(123223)

type(val)   <class 'tuple'>
type(val2)  <class 'dict'>
val   (123223,)
val2 {}

In [81]:
var_func1(a = 23)

type(val)   <class 'tuple'>
type(val2)  <class 'dict'>
val   ()
val2 {'a': 23}

In [82]:
var_func1(2,3,4,4,a=65)

type(val)   <class 'tuple'>
type(val2)  <class 'dict'>
val   (2, 3, 4, 4)
val2 {'a': 65}

### Scoping - Global vs Local
    Variables can accessed within functions, without passing as args in function call

In [83]:
def review():
    return f"{movie} is good movie to watch"


movie = "Avengers"

review()

'Avengers is good movie to watch'

In [90]:
def review(movie = "John Wick"):
    return f"{movie} is good movie to watch"


movie = "Avengers"

review()
print(review())
print(f"movie : {movie}")

John Wick is good movie to watch
movie : Avengers

In [91]:
def review(movie = "John Wick"): # Enclosing
    movie = "Man of Steel"      # Local 
    return f"{movie} is good movie to watch"


movie = "Avengers"              # Global 

review()
print(review())
print(f"movie : {movie}")

# NOTE: Python scope resolution is based on the LEGB rule, which is shorthand for Local, Enclosing, Global, Built-in.

Man of Steel is good movie to watch
movie : Avengers

NOTE: changes made within function are not reflected globally(script level)

### call by value - changes within the function will NOT reflect at the global level

### call by reference - changes within the function will reflect at the global level

In [92]:
def review():
    global movie
    movie = "Man of Steel"      # Local 
    return f"{movie} is good movie to watch"


movie = "Avengers"              # Global 

review()
print(review())
print(f"movie : {movie}")

Man of Steel is good movie to watch
movie : Man of Steel

In [93]:
def review():
    global movie
    # movie = "Man of Steel"      # Local 
    return f"{movie} is good movie to watch"


movie = "Avengers"              # Global 

review()
print(review())
print(f"movie : {movie}")

Avengers is good movie to watch
movie : Avengers

In [89]:
def review():
    global movie
    movie = "Man of Steel"      # Local 
    return f"{movie} is good movie to watch"


movie = "Avengers"              # Global 

print(review())
print(f"movie : {movie}")

Man of Steel is good movie to watch
movie : Man of Steel

### mutable local 
    changes reflected outside --- call by reference 
    copy() -- locall changes not relfected outside -- call by value

### immutables 
    local changes not reflected outside -- call by values 
    with global keyword, changes reflected outside -- call by reference