### For loop
    Two types of for loops in any language:
        1. for (int a = 0; a < 10 ; a ++)       ==> This is NOT VALID in python
        2. for a in range(Inital value , final value, increment)             ==> This is the only valid for loop in python

    NOTE: for loop can be applied only on ITERABLE OBJECT
        non-iterable objects - int, float, None, bool(True/False)
        iterable objects     - string, range, list, tuple, set, dictionary, iterators, generators

In [2]:
for i in 12123:
    print(i)

TypeError: 'int' object is not iterable

In [4]:
for i in 4568767.76:
    print (i)

TypeError: 'float' object is not iterable

In [5]:
for i in None:
    print(i)

TypeError: 'NoneType' object is not iterable

In [6]:
for i in "Python":
    print(i, end=", ")

P, y, t, h, o, n,

In [7]:
loop_count = 0
for each_chr in "Python":
    print(loop_count, each_chr)
    loop_count += 1

0 P
1 y
2 t
3 h
4 o
5 n

In [ ]:
# enumerate()- builtin function to gent then index of the looop 
for each_chr in "Python":
    print(each_chr)

for each_pair in enumerate("Python"):
    print(each_pair, type(each_pair))

P
y
t
h
o
n
(0, 'P') <class 'tuple'>
(1, 'y') <class 'tuple'>
(2, 't') <class 'tuple'>
(3, 'h') <class 'tuple'>
(4, 'o') <class 'tuple'>
(5, 'n') <class 'tuple'>

In [9]:
# unpacking
num1 = 222, 333  # Asignment operation
num2, num3 = 222, 333  # Unpacking(values will go in order of assignment)
print(
    f"""
    {type(num1) = } {num1 = }
    {type(num2) = } {num2 = }
    {type(num3) = } {num3 = }
"""
)

    type(num1) = <class 'tuple'> num1 = (222, 333)
    type(num2) = <class 'int'> num2 = 222
    type(num3) = <class 'int'> num3 = 333

In [10]:
num4 , num5 = 443

TypeError: cannot unpack non-iterable int object

In [11]:
for loop_index, each_chr in enumerate("Python"):
    print(loop_index, each_chr)

0 P
1 y
2 t
3 h
4 o
5 n

In [12]:
for loop_index, each_chr in enumerate("Python"):
    print(f"At {loop_index}, value is {each_chr}")

At 0, value is P
At 1, value is y
At 2, value is t
At 3, value is h
At 4, value is o
At 5, value is n

In [15]:
# lists
for val in [11, 22, 33, 44, 55]:
    print(val, end=", ")

11, 22, 33, 44, 55,

In [16]:
for val in enumerate([11, 22, 33, 44, 55]):
    print(f"{val[0]} ===> {val[1]}")

0 ===> 11
1 ===> 22
2 ===> 33
3 ===> 44
4 ===> 55

In [17]:
for loop_index, val in enumerate([11, 22, 33, 44, 55]):
    print(f"{loop_index} ===> {val}")

0 ===> 11
1 ===> 22
2 ===> 33
3 ===> 44
4 ===> 55

In [22]:
# Assignment: perform for loop & Enumeration on range() object
for loop_count, value in enumerate(range(2,23,3)):
    print(f"At position {loop_count}, value is {value}")

At position 0, value is 2
At position 1, value is 5
At position 2, value is 8
At position 3, value is 11
At position 4, value is 14
At position 5, value is 17
At position 6, value is 20