## range  function

    - Lazy Loading object

In [1]:
num = range(0, 9, 1)
num

range(0, 9)

In [2]:
print(f"num: {num}, {type(num)}")

num: range(0, 9), <class 'range'>

In [3]:
# Method 1 - iterating on range object
for each_val in num:
    print(each_val, end=" ")

0 1 2 3 4 5 6 7 8

In [4]:
# Method 2 - Convert to other iterables
num1 = list(num)
print(f"num1: {num1}, {type(num1)}")

num2 = tuple(num)
print(f"num2: {num2}, {type(num2)}")

num3 = set(num)
print(f"num3: {num3}, {type(num3)}")

num1: [0, 1, 2, 3, 4, 5, 6, 7, 8], <class 'list'>
num2: (0, 1, 2, 3, 4, 5, 6, 7, 8), <class 'tuple'>
num3: {0, 1, 2, 3, 4, 5, 6, 7, 8}, <class 'set'>

In [5]:
num4 = str(num)  
print(f"num4: {num4}, {type(num4)}")

num4: range(0, 9), <class 'str'>

In [6]:
print(",".join(str(i) for i in num))

0,1,2,3,4,5,6,7,8