## String Formatting

    Types
            1. Old Style formatting (or literal formatting)
            2. New Style formatting
            3. F-Strings  ( works from python 3.6+)


    Old-Style formatting
        %d - integer
        %i - integer

        %c - single char
        %s - string/char

        %f - floating-point
        %F - floating-point

        %o - octal
        %x - hexadecimal lowercase
        %X - hexadecimal uppercase

In [54]:
print("" % ())
print("My lucky number is %d")

print("My lucky number is %d" % (12))
print("My lucky number is %d" % 12)

My lucky number is %d
My lucky number is 12
My lucky number is 12

In [55]:
print("My lucky number is %d" % 12.34)
# print("My lucky number is %d" % '12')
# TypeError: %d format: a real number is required, not str

My lucky number is 12

In [56]:
#float 
print("My lucky number is %f" % 12.34)
print("My lucky number is %f" % 12) 
print("My lucky number is %f" % False)

My lucky number is 12.340000
My lucky number is 12.000000
My lucky number is 0.000000

In [57]:
# str 
print("My lucky number is %s" % 12.34)
print("My lucky number is %s" % 12) 
print("My lucky number is %s" % False)

My lucky number is 12.34
My lucky number is 12
My lucky number is False

In [58]:
# octal 
print(" %o" % 12) 
print(" %x" % 56) 
print(" %X" % 56)

 14
 38
 38

In [59]:
# float()  -- 6 digits post decimal
print("%f" % 12.34)
print("%F" % 12.34)
print("%F" % 12.342657877767)

12.340000
12.340000
12.342658

In [60]:
# exponential notation
print("%e" % 12.34)
print("%E" % 12.34)
print("%E" % 12.34223123123123)

1.234000e+01
1.234000E+01
1.234223E+01

In [61]:
import math
print(math.pi)

3.141592653589793

In [62]:
print("%f" % math.pi)
print("%10f" % math.pi) #uses 10 spaces 
print("%10.3f" % math.pi) # for decimal values uses only 3 numbers in the decimal

3.141593
  3.141593
     3.142

In [63]:
print("my name is %s - %s." % ("Naveen", "Mandava"))

my name is Naveen - Mandava.

In [64]:
print("My name is %s. I am %d old paying a tax of %f" % ("Naveen", 88, 20.3))
print("My name is %s. I am %d old paying a tax of %f" % ("Naveen", '88', 20.3))

My name is Naveen. I am 88 old paying a tax of 20.300000

TypeError: %d format: a real number is required, not str

In [65]:
print("My name is %s. I am %s old paying a tax of %s" % ("Naveen", 88, 20.3))
print("My name is %s. I am %s old paying a tax of %s" % ("Naveen", 20.3))

My name is Naveen. I am 88 old paying a tax of 20.3

TypeError: not enough arguments for format string

In [ ]:
print(
    "%(language)s has %(My lucky number)03d quote types."
    % {"language": "Python", "My lucky number": 2}
)
print(
    "%(language)s has %(My lucky number)03d quote types."
    % { "My lucky number": 2, "language": "Python"}
) # Order doesnt matter

Python has 002 quote types.
Python has 002 quote types.

In [ ]:
print("2".zfill(3))
print("%03d" % 2)
print("%3d" % 2)

002
002
  2

 Limitations of old style string formatting
1. same data types need to be passed
2. If same value need to go more than one time,those many number of times, values need to be passed

# New Style Formatting

In [ ]:
print("" % ())          # old Style
print("{}".format(""))  # new Style

In [ ]:
print("{}". format("Tom"))
print("{{}}". format("Tom")) # we get a brace {}
print("{{{}}}". format("Tom")) # we get a brace with the value  {}
print("{{{{}}}}". format("Tom"))
print("{{{{{}}}}}". format("Tom"))

Tom
{}
{Tom}
{{}}
{{Tom}}

In [ ]:
print("{} and {}".format("tom", "jerry"))
print("{} and {}".format(453, "jerry"))
print("{} and {}".format(453.0, True))
print("{} and {}".format(None, True))

tom and jerry
453 and jerry
453.0 and True
None and True

In [ ]:
print("{} and {}".format(None, True))
print("{0} and {1}".format(None, True))
print("{1} and {0}".format(None, True))

None and True
None and True
True and None

In [ ]:
print("{0} and {0}".format(None))

None and None

In [ ]:
print("{}".format(11215439494.33))
print("{:}".format(11215439494.33)) 
print("{:,}".format(11215439494.33))
print("{:_}".format(11215439494.33))
print("{:-}".format(11215439494.33))
print("{:+}".format(11215439494.33))
print("{:+}".format(-11215439494.33))

11215439494.33
11215439494.33
11,215,439,494.33
11_215_439_494.33
11215439494.33
+11215439494.33
-11215439494.33

In [ ]:
# similar to str.zfill()
print("{:=10}".format(15466))   
print("{:0=10}".format(15466))
print("{:a=10}".format(15466))

     15466
0000015466
aaaaa15466

In [ ]:
# Alignment
print("{:<20}".format("left aligned"))
print("{:>20}".format("right aligned"))
print("{:^20}".format("centered"))

left aligned
       right aligned
      centered

In [ ]:
print("{:*<20}".format("left aligned"))
print("{:*>20}".format("right aligned"))
print("{:*^20}".format("centered"))

left aligned********
*******right aligned
******centered******

In [ ]:
# Formatting
print("{}".format(1024), 1024)
print("{:b}".format(1024), bin(1024))
print("{:o}".format(1024), oct(1024))
print("{:x}".format(1024), hex(1024))

1024 1024
10000000000 0b10000000000
2000 0o2000
400 0x400

In [ ]:
print("math.pi", math.pi)
print("{}".format(math.pi))

math.pi 3.141592653589793
3.141592653589793

In [ ]:
print('{:d}'.format(math.pi))

ValueError: Unknown format code 'd' for object of type 'float'

In [ ]:
print("{:f}".format(math.pi))
print("{:F}".format(math.pi))
print("{:g}".format(math.pi))

3.141593
3.141593
3.14159

In [ ]:
# Assignment
print('{:d}'.format(int(math.pi)))
pi = '{:s}'.format(str(math.pi))
print ("pi =", pi, type(pi))

3
pi = 3.141592653589793 <class 'str'>

In [ ]:
print("{:%}".format(math.pi))
print("{:%}".format(6))

314.159265%
600.000000%

In [ ]:
print("{:}%".format(math.pi))

3.141592653589793%

In [66]:
print("Name:{} Age:{} Salary:{}".format("Brady", 89, 98979999))

Name:Brady Age:89 Salary:98979999

In [67]:
print(
    """
        Name:{}
        Age:{} 
        Salary:{} """.format(
            "Brady", 89, 98979999
    )
)

        Name:Brady
        Age:89
        Salary:98979999

In [68]:
print(
    """
        Name:{0}
        Age:{1} 
        Salary:{2} """.format(
            "Brady", 89, 98979999
    )
)

        Name:Brady
        Age:89
        Salary:98979999

In [ ]:
print(
    """
        Name:{0}
        Age:{0} 
        Salary:{0} """.format(
            "Brady", 89, 98979999
    )
)
# this is syntactically correct and logicall incorrect

        Name:Brady
        Age:Brady
        Salary:Brady

In [ ]:
print(
    """
        Name  :{NAME} Name  :{NAME} Salary:{SALARY}
        Age   :{AGE} Name  :{NAME}
        Salary:{SALARY}""".format(NAME="Brady", AGE=89, SALARY=9897999)
    )

        Name  :Brady Name  :Brady Salary:98979999
        Age   :89 Name  :Brady
        Salary:98979999

### Bank transcation

In [ ]:
# Method 1
print(
    """
        Dear {account_holder},
                Your account ending with {accound_last_4_digits} was
                credited {transaction_amount} on {transaction_time}.

        Thank you.
        Visit again!!!
         """.format(
        account_holder ="Maya",
        accound_last_4_digits =2354,
        transaction_amount ="2.3 lakhs ",
        transaction_time ="10th May 2022 14:34:59",
    )
)

        Dear Maya,
                Your account ending with 2354 was
                credited 2.3 lakhs  on 10th May 2022 14:34:59.

        Thank you.
        Visit again!!!

In [ ]:
# Method 2
result = { 
    "account_holder":"Maya",
    "accound_last_4_digits": 2354,
    "transaction_amount": "2.3 lakhs ",
    "transaction_time": "10th May 2022 14:34:59",
}

print(
    """
        Dear {account_holder},
                Your account ending with {accound_last_4_digits} was
                credited {transaction_amount} on {transaction_time}.

        Thank you.
        Visit again!!!
         """.format(
       **result # for dictonary unpacking 
    )
)

        Dear Maya,
                Your account ending with 2354 was
                credited 2.3 lakhs  on 10th May 2022 14:34:59.

        Thank you.
        Visit again!!!

In [73]:
result

{'account_holder': 'Maya',
 'accound_last_4_digits': 2354,
 'transaction_amount': '2.3 lakhs ',
 'transaction_time': '10th May 2022 14:34:59'}

In [75]:
print(
    """
        Dear {account_holder},
                Your account ending with {accound_last_4_digits} was
                deducted {transaction_amount} on {transaction_time}.

        Thank you for shopping. Visit again!
         """.format_map(
        result
    )
)

        Dear Maya,
                Your account ending with 2354 was
                deducted 2.3 lakhs  on 10th May 2022 14:34:59.

        Thank you for shopping. Visit again!

### F Strings

In [76]:
print("" % ())          # OLD Style
print("{}".format(""))  # NEW Style
print(f'{""}')          # F-String

In [77]:
print("Hello {name}")

Hello {name}

In [79]:
print("Hello {name}".format(name="world"))
# here name is just a label we cant use it outside

Hello world

In [ ]:
name = "world"  # here name is a variable not label 
print (f"hello {name}")

hello world

In [82]:
number =3423
print(f"number is {number}")

number is 3423

In [83]:
# we can format the name variable while using f strings 
print(f"Hello {name.upper()}")
print(f"Hello {name.title()}")

print(f"number is {int(number)}")

Hello WORLD
Hello World
number is 3423

In [84]:
value = 11215439494.33
print(f"{value}") 
print(f"{value:}") 
print(f"{value:,}")
print(f"{value:_}")
print(f"{value:-}")
print(f"{value:+}")

11215439494.33
11215439494.33
11,215,439,494.33
11_215_439_494.33
11215439494.33
+11215439494.33

In [86]:
print(f'{"left aligned":<20}')      
print(f'{"right aligned":>20}')    
print(f'{"centered":^20}')        
print(f'{"centered":*^20}')

left aligned
       right aligned
      centered
******centered******

In [87]:
print(f"{1024}", 1024)
print(f"{1024:d}", 1024)
print(f"{1024:b}", bin(1024))
print(f"{1024:o}", oct(1024))
print(f"{1024:x}", hex(1024))
print(f"{1024:X}", hex(1024))

1024 1024
1024 1024
10000000000 0b10000000000
2000 0o2000
400 0x400
400 0x400

In [89]:
print("math.pi : ", math.pi)
print(f"{math.pi}") 
print(f"{math.pi:f}") 
print(f"{math.pi:F}")
print(f"{math.pi:g}")

math.pi :  3.141592653589793
3.141592653589793
3.141593
3.141593
3.14159

In [ ]:
print(f"{math.pi:f}") 
print(f"{math.pi:10f}")
print(f"{math.pi:10.3f}")

3.141593
  3.141593
     3.142

ValueError: Invalid format specifier 'a10.3f' for object of type 'float'

In [94]:
import decimal 

# format specifier
width = 10
precision = 4
value = decimal.Decimal("15.1641364949649446464343879878945845969746976996")
print(f"result: {value}")
print(f"result: {value:{width}.{precision}}")

result: 15.1641364949649446464343879878945845969746976996
result:      15.16

In [95]:
value = 15.1641364949649446464343879878945845969746976996
value

15.164136494964945

In [96]:
from datetime import datetime 

today = datetime.now()
print(f"{today:%Y-%m-%d}")

2024-12-02

### F string assignments 

    introduced in python 3.8

In [97]:
language = "Python"
print(language)

Python

In [98]:
print("language =", language)
print("language = %s" % (language))
print("language = {}".format(language))
print(f"language = {language}")
print(f"{language = }")

language = Python
language = Python
language = Python
language = Python
language = 'Python'

In [99]:
num = 456
print(f"num = {num}")
print(f"{num = }")

num = 456
num = 456

In [ ]:
print(f'NUmber ={num}')

NUmber =456

NameError: name 'NUmber' is not defined

In [102]:
print(f"{num     = }")
print(f"{num * 3 = }")
print(f"{num / 3 = }")
print(f"{num % 3 = }")

num     = 456
num * 3 = 1368
num / 3 = 152.0
num % 3 = 0