## Tuples

In [1]:
my_list = [1, 3,5, 7,9,[23,44,18],9,(6,5)]
print("type(my_list)" , type(my_list))
print("len(my_list)", len(my_list))


my_tup = (1, 3,5, 7,9,[23,44,18],9,(6,5))
print("type(my_tup)", type(my_tup))
print("len(my_tup)", len(my_tup))

type(my_list) <class 'list'>
len(my_list) 8
type(my_tup) <class 'tuple'>
len(my_tup) 8

In [4]:
tup2 = (23.3)
print("type(tua2)", type(tup2))
# print("len(tup2) ", len(tup2))

type(tup2) <class 'float'>

In [5]:
tup2 = (23.3, )
print("tyae(tua2)", type(tup2))
print("len(tup2) ", len(tup2))

type(tup2) <class 'tuple'>
len(tup2)  1

In [6]:
tup2
# for tuple having single element use a comma at the end or else it is recognized as individual element

(23.3,)

In [7]:
tup = 2,4,5,8.9
print("type(tup):", type(tup))
print("len(tup) :", len(tup))
print(tup)

type(tup): <class 'tuple'>
len(tup) : 4
(2, 4, 5, 8.9)

In [8]:
tup = 2,
print("type(tup):", type(tup))
print("len(tup) :", len(tup))
print(tup)

type(tup): <class 'tuple'>
len(tup) : 1
(2,)

### Tuple Attributes

In [9]:
tup = (92,4,6,7,8,9,(8,9))
dir (tup)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [13]:
print("str(tup)           =", str(tup))
print("type(str(tup))     =", type(str(tup)))
print("tup.__str__()      =", tup.__str__())
print("type(tup.__str__())=", type(tup.__str__()))
assert str(tup) == tup.__str__()

str(tup)           = (92, 4, 6, 7, 8, 9, (8, 9))
type(str(tup))     = <class 'str'>
tup.__str__()      = (92, 4, 6, 7, 8, 9, (8, 9))
type(tup.__str__())= <class 'str'>

In [10]:
# tuple is immutable we can't change the original tuple even the asigned tupple is changed
print("tup * 3            =", tup * 3)
print("tup                =", tup)
print("tup.__mul__(3)     =", tup.__mul__(3))
print("tup                =", tup)

tup * 3            = (92, 4, 6, 7, 8, 9, (8, 9), 92, 4, 6, 7, 8, 9, (8, 9), 92, 4, 6, 7, 8, 9, (8, 9))
tup                = (92, 4, 6, 7, 8, 9, (8, 9))
tup.__mul__(3)     = (92, 4, 6, 7, 8, 9, (8, 9), 92, 4, 6, 7, 8, 9, (8, 9), 92, 4, 6, 7, 8, 9, (8, 9))
tup                = (92, 4, 6, 7, 8, 9, (8, 9))

In [14]:
for each_attribute in dir(tup):
    if not each_attribute.startswith("__"):
        print(each_attribute)

count
index

In [15]:
tup.count(9)

1

In [16]:
tup.index(7)

3

In [17]:
tup.index(678)

ValueError: tuple.index(x): x not in tuple

### Tuple Operations

In [18]:
concat = (98, 23) + (545, 196)
print("concat   :", concat)

concat   : (98, 23, 545, 196)

In [19]:
concat = (98, 23) + [545, 196]
print("concat   :", concat)

TypeError: can only concatenate tuple (not "list") to tuple

In [21]:
concat = (98, 23) + tuple([545, 196])
print("concat   :", concat)

concat   : (98, 23, 545, 196)

In [24]:
concat = list((98, 23)) + [545, 196]
print("concat   :", concat)

concat   : [98, 23, 545, 196]

In [25]:
print(f"{list('Python')  =}")
print(f"{tuple('Python') =}")

list('Python')  =['P', 'y', 't', 'h', 'o', 'n']
tuple('Python') =('P', 'y', 't', 'h', 'o', 'n')

### Immutabillity

    tuple doesnt support in object changes

In [26]:
mytuple =(2,4,6,5,4)
print("mytuple", mytuple, id(mytuple))

mytuple (2, 4, 6, 5, 4) 136604725942752

In [27]:
print(f"{mytuple[2] =}")

mytuple[2] =6

In [28]:
mytuple[2] = "2.2222"

TypeError: 'tuple' object does not support item assignment

In [29]:
mytuple = (2,4,2.2222,5,4)
print("mytuple", mytuple, id(mytuple))

mytuple (2, 4, 2.2222, 5, 4) 136604725897360

### Named Tuple 

    Named Tuples can be:
    1. access by index - like normal tuples
    2. access by keyname - like dictionaries
    3. using getattr()

In [30]:
import collections

print(dir(collections))

['ChainMap', 'Counter', 'OrderedDict', 'UserDict', 'UserList', 'UserString', '_Link', '_OrderedDictItemsView', '_OrderedDictKeysView', '_OrderedDictValuesView', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_chain', '_collections_abc', '_count_elements', '_deque_iterator', '_eq', '_iskeyword', '_itemgetter', '_proxy', '_recursive_repr', '_repeat', '_starmap', '_sys', '_tuplegetter', 'abc', 'defaultdict', 'deque', 'namedtuple']

In [32]:
People = collections.namedtuple("People", ("Name","Age","Location"))

In [33]:
People

__main__.People

In [34]:
People("Tom",45,"Tampa")

People(Name='Tom', Age=45, Location='Tampa')

In [35]:
people_details =People("Tom",45,"Tampa")

In [37]:
# Accessing Values - using index
people_details[2]

'Tampa'

In [38]:
# Accssing Values - using position names
people_details.Location

'Tampa'

In [39]:
dir (people_details)

['Age',
 'Location',
 'Name',
 '__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__match_args__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_asdict',
 '_field_defaults',
 '_fields',
 '_make',
 '_replace',
 'count',
 'index']

In [40]:
getattr(people_details, 'Name')

'Tom'

In [41]:
getattr(people_details, 'full_name')

AttributeError: 'People' object has no attribute 'full_name'

In [42]:
print(f"{'full_name' in dir(people_details) = }")
print(f"{hasattr(people_details, 'full_name') =}")

'full_name' in dir(people_details) = False
hasattr(people_details, 'full_name') =False

In [43]:
if hasattr(people_details, "full_name"):
    getattr(people_details, "full_name")

if hasattr(people_details, "Location"):
    print(f"{getattr(people_details, 'Location') =}")

getattr(people_details, 'Location') ='Tampa'

In [44]:
# unpacking

In [45]:
num1 = 45
num2 = 89
print(f"num1 = {num1}  num2 = {num2}")

num1 = 45  num2 = 89

In [46]:
num1, num2 = 45, 89
print(f"num1 = {num1}  num2 = {num2}")

num1 = 45  num2 = 89

In [47]:
a1,a2,a3,a4,a5 = 23,55,33,66,55,89
print(f"a1 = {a1}  a2 = {a2} a3 = {a3} a4 = {a4} a5 = {a5}")

ValueError: too many values to unpack (expected 5)

In [49]:
# flexible unpacking from python 3.6 
n1, *n2, n3, n4 = 1, 2, 3, 4, 5
print(f"n1={n1} \nn2={n2} \nn3={n3} \nn4={n4}")

n1=1
n2=[2, 3]
n3=4
n4=5