### Data Type Conversions

    - int, float, complex, boolean, string, None

    Integer Family
    int - decimal       - int() -base 10  (0-9)
        - binary        - bin() -base  2  (0-1)
        - hexadecimal   - hex() -base 16  (0-9 A-F)
        - octal         - oct() -base 8   (0-7)
    float
        float()
    String
        str()


int -> float
int -> str

float -> int
float -> str

str  -> int
str -> float

In [1]:
num = 12
print("num=", num, type(num))

num= 12 <class 'int'>

In [2]:
# int ---> float 
print(12,float(12))

12 12.0

In [ ]:
13, str(13) # interactive mode

(13, '13')

In [ ]:
print (13, str(13)) # Script mode

13 13

In [5]:
print(3.1416, int(3.1416))
print(3.1416, str(3.1416))

3.1416 3
3.1416 3.1416

In [6]:
# str  -> int
print("23",  int("23"))  # '23 ', 23 
print("23 ", int("23 "))  # '23 ', 23

23 23
23  23

In [7]:
print('2 3', int('2 3'))

ValueError: invalid literal for int() with base 10: '2 3'

In [9]:
int("two")

ValueError: invalid literal for int() with base 10: 'two'

In [10]:
int ('22.22') # for converting a float valued string to integer , it revets error to handle this convert to float and then conver it to integer

ValueError: invalid literal for int() with base 10: '22.22'

In [11]:
# str -->float
print("23   ", float("23"))     
print("23.24", float("23.24")) 
print("23.  ", float("23."))

23    23.0
23.24 23.24
23.   23.0

In [12]:
print('2 3. ', float('2 3.'))

ValueError: could not convert string to float: '2 3.'

In [14]:
int()
float()

0.0

In [15]:
float()                 # 0.0
float("+1.23")          # 1.23
float("   -12345\n")    # -12345.0
float("1e-003")         # 0.001
float("+1E6")           # 1000000.0
float("-Infinity")      # -inf

-inf

In [ ]:
# NOTE : anything can be converted into string

In [17]:
print("str(12)", str(12))
print("str(121233.12323)", str(121233.12323))
print("str(-0.000012)", str(-0.000012))
print("str(True)", str(True))
print("str(None)", str(None))

str(12) 12
str(121233.12323) 121233.12323
str(-0.000012) -1.2e-05
str(True) True
str(None) None

In [18]:
num1 = 24
print("num1 =", num1, type(num1))

num1 = 24 <class 'int'>

In [20]:
# decimal to binary 
bin(num1)

'0b11000'

In [21]:
bin (23.44)

TypeError: 'float' object cannot be interpreted as an integer

In [22]:
int("0b110001001", base= 0)

393

In [23]:
# to get the length of the binary number .bit_length 
print((9).bit_length())  
print((23).bit_length())

4
5

In [24]:
# decimal -> octal
print("oct(9)  ", oct(9))  
print("oct(-23)", oct(-23))

oct(9)   0o11
oct(-23) -0o27

In [25]:
# octal --> decimal
print("oct(33)  ", oct(33))
print("oct(-243)", oct(-243))

oct(33)   0o41
oct(-243) -0o363

In [26]:
# octal -> decimal
print(int(oct(10), base=8))  
print(int("0o11", base=8))  
print(int("121", base=8))    
print(int("121"))

10
9
81
121

In [27]:
# decimal -> hexadecimal
print("hex(95)  ", hex(95))  
print("hex(-235)", hex(-235))

hex(95)   0x5f
hex(-235) -0xeb

In [28]:
# hexadecimal-->decimal
print(int(hex(-235), base=16)) 
print(int("-0x1745", base=16)) 
print(int("-174", base=16)) 
print(int("-173"))

-235
-5957
-372
-173